*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 900vh;  
    overflow-x: hidden;
    font-size: 20px;
}
/* це навігаційна плита */
.icon{
    color:white;
    font-weight:600;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.8s ease-out;
}
.icon:hover{
    color:rgb(16, 112, 136)
}
.buttons{
    list-style-type: none;
    padding:10px;
    
}
li{
    display:inline-block;
}
li>a{
    text-decoration: none;
    color:white;
    opacity: 0.6;
    padding:0 10px;
    transition:all 0.8s ease-out;
    
}
li>a:hover{
    opacity: 1;
}
.container{
    
    
    width:100%;
    margin:auto;
    padding:0 10px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    

}
.navigation{ 
    width: 100%;
    background-color: rgb(36, 30, 30);
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 100;
    
}
.navbar_scrolled{
    position:fixed;
    animation-name:perehid_vniz;
    animation-duration: 1s;
}
@keyframes perehid_vniz{
    from{
       opacity: 0;
       top:-50px;
    }
    to{
       opacity: 1;
       top:0;
    }
}
/* Кінець навігаційної плити */
/* Початок першого секшену*/
.bio{
    background-color: #cae4e4;
    max-width: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    margin-inline: auto;
    padding: 100px 50px;
    border-radius: 10px;
    text-align: center;
}
.bio p{
    color: #3b3b3b;
    font-size: 18px;
}
h1{
    color: #000000;
    font-size: 50px;
}
/* Кінець першого секшену*/